.wrap{
    /* position: relative; */
    text-align: center;
    margin: auto;
}

button{
    font-family: 'Noto Sans KR', sans-serif;
    height: 30%;
    padding: 12px 13px 13px 13px;
    opacity: 0.8;
    border-radius: 7px;
    font-weight: bold;
    width: 80%;
    margin-top: 10px;
    border-style: none;
    background-color: #D4F2AC;
    
}