@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header{
    background-color: #F3F3F3;

}
.headbox{
    background-color: #F3F3F3;
    /* width: 390px; */
    height: 112px;
}
/* .logo{
    display: block;
    margin: 0px auto;
} */

#logo{
    font-family: 'Yeongdo-Rg';
    color: #C3B9B9;
    font-size: 40px;
    text-align: center;
}

.box_menu_wrap{
    text-align: center;
}


.box_menu{
    font-family: 'Yeongdo-Rg';
    color: #5D4C4C;
    font-size: 11px;
    
}


.first {
    border:  1px solid black;
    width:30%;
    box-sizing: border-box;
    float: left;
    /* margin-right: 8px; */
    margin:auto;
}

.second{
    border: 1px solid green;
    width:30%;
    box-sizing: border-box;    
    float: left;
    /* margin-right: 8px; */
    margin:auto;

}

.third{
    border: 1px solid blue;
    width:30%;
    box-sizing: border-box;
    float: left;
    /* margin-right: 8px; */
    margin:auto;

}


/* footer 바닥으로 고정 */
/* .footer{
    position: fixed;
    bottom: 0;
    width: 100%; */

    /* span 태그 가운데정렬 선행조건 */
    /* text-align: center;   */
/* } */

/* Back 버튼 가운데정렬 */
/* .footer a{
    text-decoration: none;
    vertical-align: middle;
    color: black;
    display: flex;
    justify-content: center;    
} */

/* img#back{

    margin: 10px;
    height: 30px; 
    width: 30px;
    opacity: 60%;
} */

.bottom_menu { 
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 50px; 
    z-index:100; 
    border-top: 1px solid black; 
    background-color: white }

.bottom_menu > div { 
    float: left; 
    width: 33%; 
    height: 100%; 
    text-align: center; 
    padding-top: 13px; }

