body {
  background-color: #fafafa;
}
.none {
  width: auto;
  height: 40px;
  padding-top: 75px;
  background-color: #fafafa;
}
article {
  position: relative;
  right: 0px;
  background-color: #fafafa;
  border-radius: 3px;
}
.main_body {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  left: 20px;
}
.feed {
  width: 600px;
  height: auto;
}


.story {
  height: 117px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
aside{
  position: relative;
  left:0px;
  right:100px;
}

.feed_right_container{
  position: sticky;
  width: 450px;
  top:0px;
  right:100px;
}

.my_profile{
  border-radius: 50%;
  display: flex;
  height: 95px;
  margin: 0px;
  background-color: #fafafa;
}



.empty_box {
  height: 26px;
}

.text {
  position: relative;
  top: 11px;
}

.feed {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.feed_id {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
}

.id_round {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 15px;
  left: 10px;
  width: 32px;
  height: 32px;
  background-size: contain;
  border-radius: 50%;
}

.id_box {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  left: 0px;
  top:0px;
  width: 536px;
  height: 41px;
}

.id_container{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  left: 10px;
}

.id_img{
  width:32px;
  height: 32px;
  border-radius: 50%;
}

.id_name {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
}


.more_details img {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
}
.feed_picture {
  width: 598px;
  height: 598px;
}

.feed_picture img {
  width: 598px;
  height: 598px;
}

.emoticon_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0px;
}

.emoticon_box2 {
  display: flex;
}
.emoticon_box2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin: 0px;
}

.emoticon_box2 img {
  width: 24px;
  height: 24px;
}
.bookmark_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}

.feed_article_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 16px 10px 16px;
}
.contents_container {
  display: flex;
}
.contents {
  font-size: 14px;
  line-height: 18px;
  padding: 2px;
}

.new_comments{
  display: block;
  text-align: start;
}

.newCommentBox{
  padding: 2px;
  font-size: 14px;
  line-height: 18px;
}
.newCommentBox1{
  padding: 2px;
  font-size: 14px;
  line-height: 18px;
}


.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 12px 0 12px;
  margin: 0px;
  border-top: 1px solid #efefef;
}

.inputBox{
  background-color: #FAFAFA;
  font:14px;
  color: black;
  outline: none;
  width:500px;
  height: 50px;
  border: solid 0px;
}
.buttonBox{
  background-color: #FAFAFA;
  color:#C0E0FD;
  outline: none;
  border: solid 0px;
}

.type_comment {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  font-size: 14px;
  color: #8e8e8e;
}

.summit {
  font-size: 14px;
  color: #bee1fd;
}

