@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    height: 100%;
    width: 100%;
}
header{
    background-color: #F3F3F3;
}

.headbox{
    background-color: #F3F3F3;
    /* width: 390px; */
    height: 112px;
}

#logo{
    font-family: 'Yeongdo-Rg';
    color: #C3B9B9;
    font-size: 40px;
    text-align: center;
}

.box_menu_wrap{
    text-align: center;
}

.box_menu{
    font-family: 'Yeongdo-Rg';
    color: #5D4C4C;
    font-size: 11px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    /* span 태그 가운데정렬 선행조건 */
    text-align: center;  
}

/* Back 버튼 가운데정렬 */
.footer a{
    text-decoration: none;
    vertical-align: middle;
    color: black;
    display: flex;
    justify-content: center;    
}