h2{
    font-family: 'Noto Sans KR', sans-serif;
    position:absolute;
    /* width:100%; */
    margin: 0px 0px 0px 150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #D4F2AC; 
  } 
  
  body {
    background-image:#34495e;
  }
  
  .joinForm {
    position:absolute;
    width:400px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .joinForm h2 {
    text-align: center;
    margin: 30px;
  }
  
  .textForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .name {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .email {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .nickname {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .cellphoneNo {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn {

    font-family: 'Noto Sans KR', sans-serif;
    height: 30%;
    margin: 0 0 0 35px;
    padding: 11px 137px 15px 137px;
    opacity: 0.8;
    border-radius: 7px;
    font-weight: bold;
    width: 80%;
    margin-top: 10px;
    border-style: none;
    background-color: #D4F2AC;
    cursor:pointer;
    transition: 0.4s;
}
    
    /* position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: #D4F2AC;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline; */
  
  .btn:hover {
    background-position: right;
  }

 
    .radioForm {
        padding: 15px 30px;
        color: #636e72;
        
    }

    .radioForm input[type="radio"]{
        display:none;
       
    }
  
    .radioForm input[type="radio"] + span{
        border-radius: 7px;
        display:inline-block;
        background:none;
        border:1px solid #D4F2AC;  
        padding:0px 50px;
        text-align:center;
        height:35px;
        line-height:33px;
        font-weight:500;
        cursor:pointer;
    } 
  
    .radioForm input[type="radio"]:checked + span{
      background-color: #D4F2AC;
    }