.wrap{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
  
.inputContent{
    padding: 12px 13px 13px 13px;
    opacity: 0.8;
    border-radius: 7px;
    width: 60%;
    background-color: #F3F3F3;
    border: none;
    font-size: 12px;
    display: inline-block;

}
  /* 등록하기 버튼 */
.chkBtn{
    text-align: center;
    margin: 0 auto;
    display: inline-block;

}
  
button#chkBtn{
    font-family: 'Noto Sans KR', sans-serif;
    height: 30%;
    padding: 9px 3px 11px 3px;
    opacity: 0.8;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 10px;
    border-style: none;
    background-color: #D4F2AC;
    margin: 0 auto;
}
.tit{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    display: inline-block;
    border-right : solid 2px #F3F3F3;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
}
  
button.gender{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    /* padding: 12px 13px 13px 13px; */
    opacity: 0.8;
    border-radius: 7px;
    border-style: none;
    width: 33%;
    padding: 11px 0 11px 0;
    margin-right: 5px;
}



/* 회원가입하기 버튼 */
.joinBtn{
    text-align: center;
    margin: 0 auto;
}
  
button#joinBtn{
    font-family: 'Noto Sans KR', sans-serif;
    height: 30%;
    padding: 12px 13px 13px 13px;
    opacity: 0.8;
    border-radius: 7px;
    font-weight: bold;
    width: 80%;
    margin-top: 10px;
    border-style: none;
    background-color: #D4F2AC;
    margin: 0 auto;
}