<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/diary_main.css">

    <title>Diary_main</title>
</head>
<body>
    <header>
        <div class="headbox">
            <!-- <img class="logo" src="./img/Smiley.PNG" alt=""> -->
            <p id="logo">Smiley</p>

            <div class="box_menu_wrap">
                <span class="box_menu">People's Diaries</span>
                <span class="box_menu">|</span>
                <span class="box_menu">My Diary</span>
        

            </div>
        </div>
    </header>


    <main>
      <div class="parent">
        <div class="first">first</div>
        <div class="second">second</div>
        <div class="third">third</div>
      </div>
     





    </main>


    <footer>
        <div class="footer">
            <hr>
        
                <a href=""><span class="btnBack">Back.</span></a>

        </div>
       
    </footer> 

</body>
</html>