<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="./css/feed.css">

</head>
<body>
  


  <section>

    <div class="empty_box"></div>

    <div class="feed">
            <div class="feed_id">
                  <div class="id_round">
                      <div class="id_box">
                            <div class="id_box_img">
                              <img class="id_img" src="img/p1.jpg" alt="내 프로필">
                            </div>
                            <div class="id_container">
                              <div class="id_name"><%=user.user_id%></div>
                            </div>
                      </div>
                  </div>
            </div>

            <div class="feed_picture">
              <img src="img/p2.jpg" alt="피드 사진">
            </div>


      <div class="feed_article">
          <div class="feed_article_box">

                    <div class="contents_container">
                      <div class="contents">일기 내용</div>
                    </div>


                    <div class="inputContainer">
                          <div class="type_comment">
                            <input class="inputBox" type="text" placeholder="댓글 달기...">
                          </div>
                          <span>
                            <button class="buttonBox" type="summit">게시</button>
                          </span>
                    </div>

                  <!-- 디비에서 가져올 부분 -->
                    <div class="comments1_box">
                      <div class="comments">댓글들~~~
                      </div>
                    </div>

                    <div class="new_comments">
                    </div>
                    
                    <div class="comments2">날짜
                    </div>
                    
          </div>
      </div>
    </div>
</section>




















</body>
</html>